//## Variables

//** Colors
$default: 	   #ffffff;
$primary: 	   #ff7700;
$secondary:    #9cd3ae;

$gray-base:	    #000000;
$gray: 	  	    #303030;
$gray-light:    #999999;
$gray-lighter:  #dddddd;
$gray-lightest: #f7f7f7;

//** Typography
$primary-font:   'Didact Gothic', Helvetica, Arial, sans-serif;
$secondary-font: 'Roboto Mono', monospace;

//** Font size

//** Layout
$spacing: 30px;


//** UI
$border-radius-base: 5px;


